.header{
        background-color: aqua;
        display: flex;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:xx-large;
        font-weight: 200;
justify-content: right;
}
h1{
    justify-content:space-evenly;
    color:rgb(165, 136, 42)
}
.body{
    display:flexbox;
    
    background-color: chartreuse;
background-blend-mode: color-dodge;
font-style: oblique;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:xx-large;
font-weight: 200;
}
h2{
  
    justify-content:space-evenly;
    color:crimson
}
.function{
    display:flexbox;
    background-color:mediumblue;
    font-size: xx-large;
    font-weight: 500;
    font-family:cursive;
    font-style:italic;
}
.grid{
    display:flexbox;
background-color:yellow;

}
.video{
    display:grid;
    background:violet;
    text-decoration: tomato;
}
